jwt:
  secret: ergaerjglkdsfboaerbgoaerbigasdklanfdlasdfnlakwentlawentlsdfglnkaskdlaweh

spring:
  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: HPCLab
    producer:
      batch-size: 1
    properties:
      session.timeout.ms: 600000

  sql:
    init:
      mode: never

  data:
    redis:
      host: ${REDIS_DATASOURCE_HOST}
      port: 6379

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true

logging:
  level:
    org.hibernate.sql: debug
    org.hibernate.type: trace